.logoVilleneuve {
    font-family: 'Din next', sans-serif;
  }
  
  .theo {
    margin: 0;
    padding: 0;
    font-weight: 200;
  }
  
  .villeneuve {
    margin: 0;
    padding: 0;
    font-weight: 700;
  }