@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;400;700&display=swap");
@font-face {
  font-family: "Din next";
  src: url("/myapp/fonts/din-next-lt-pro-bold-59fa0d5149473.otf")
    format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Din next";
  src: url("/myapp/fonts/din-next-lt-pro-light-59f9bcb6633e7.otf")
    format("opentype");
  font-weight: light;
  font-style: normal;
}

.part1 {
  height: 100vh;
  width: 100vw;
  padding-top: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
  justify-content: flex-end;
  align-items: center;
  padding: 0 3% 7% 3%;
}

.logoImg {
  height: 40vh;
  width: 40vh;
  margin: 5vh 0;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.rightContainer {
  background-image: url("../public/ink/ink7_LQ.jpeg");
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70vw;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 10%;
  padding-right: 6%;
}

.btnContainer {
  margin-top: 6%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 0 22%;
}

/* BUTTONS */

.btn {
  background-color: white;
  opacity: 0.7;
  color: black;
  border: 0.5px solid rgb(33, 32, 32);
}

.btn:hover {
  border: 2px solid rgb(33, 32, 32);
  color: white;
  background-color: rgb(33, 32, 32);
  opacity: 1;
}

.btn2 {
  background-color: rgb(33, 32, 32);
  width: 18vw;
  height: 7vh;
  color: white;
  border: 1px solid transparent;
  border-radius: 8px;
  font-family: "Din next", sans-serif;
  font-size: 2.4vh;
  font-weight: 500;
  cursor: pointer;
  transition-duration: 0.8s;
}

.btn2:hover {
  border: 1px solid rgb(33, 32, 32);
  color: black;
  background-color: transparent;
}
