.webPortfolio {
  background-color: rgb(33, 32, 32);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logoVilleneuve {
  margin-top: 10vh;
  color: white;
  font-family: 'Din next', sans-serif;
  font-size: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition-duration: 1s;
}

.theo {
  margin: 0;
  padding: 0;
  font-weight: 200;
}

.villeneuve {
  margin: 0;
  padding: 0;
  font-size: 7vh;
  font-weight: 700;
}

.title {
  color: white;
  margin-bottom: 70vh;
}

.project {
    background-color: brown;
    width: 100vw;
    
}

/* Affichage conditionné à la taille d'écran */
@media screen and (max-width: 768px) {
.logoVilleneuve {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition-duration: 1s;
}

.theo {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Din next', sans-serif;
  font-size: 5vh;
  font-weight: 200;
}

.villeneuve {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Din next', sans-serif;
  font-size: 5vh;
  font-weight: 700;
}
}